body {
    position: relative;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    opacity: 0;
  }
  
  body:hover::before {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }

  .start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
  }

  .start-button:hover {
    transform: scale(1.2);
  }

  .start-button:active {
    transform: scale(1.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
  }

  header {
    background-color: #15536a;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    flex: 1;
    flex-basis: 20%;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: blue;
  }